@model EForumKLTN.ViewModels.RegisterVM

@{
    ViewData["Title"] = "DangKy";
}

<div class="container-fluid py-5">
	<div class="container py-5">
		<h1 class="mb-4">Đăng ký Thành viên</h1>
		<form asp-action="DangKy" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="row">
					<div class="col-md-12 col-lg-6">
						<div class="form-item w-100">
							<label asp-for="MaKh" class="form-label my-3"></label><sup>*</sup>
							<input asp-for="MaKh" class="form-control">
							<span asp-validation-for="MaKh" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-12 col-lg-6">
						<label asp-for="MatKhau" class="form-label my-3"></label><sup>*</sup>
						<input asp-for="MatKhau" class="form-control">
						<span asp-validation-for="MatKhau" class="text-danger"></span>
					</div>
					<div class="form-item">
						<label class="form-label my-3" asp-for="HoTen"></label><sup>*</sup>
						<input asp-for="HoTen" class="form-control" />
						<span asp-validation-for="HoTen" class="text-danger"></span>
					</div>				

					<div class="form-item">
						<label class="form-label my-3" asp-for="DiaChi"></label><sup>*</sup>
						<input asp-for="DiaChi" class="form-control" />
						<span asp-validation-for="DiaChi" class="text-danger"></span>
					</div>

					<div class="form-item">
						<label class="form-label my-3" asp-for="DienThoai"></label><sup>*</sup>
						<input asp-for="DienThoai" class="form-control" />
						<span asp-validation-for="DienThoai" class="text-danger"></span>
					</div>

					<div class="form-item">
						<label class="form-label my-3" asp-for="Email"></label><sup>*</sup>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>

					<div class="form-item">
						<label class="form-label my-3" for="Hinh">Hình<sup>*</sup></label>
						<input type="file" name="Hinh" class="form-control" />
					</div>
				</div>
				<div class="row g-4 text-center align-items-center justify-content-center pt-4">
					<button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Đăng ký</button>
				</div>
			</div>
		</form>
	</div>
</div>