<div class="container text-center mt-5">
    <h2>Thanh toán</h2>

    <p><strong>Số tiền:</strong> @ViewBag.TongTien VNĐ</p>
    <p><strong>Nội dung CK:</strong> @ViewBag.NoiDung</p>

    <img src="@ViewBag.QR" style="width:300px;" />

    <p class="mt-3 text-danger">
        Chuyển khoản đúng nội dung để hệ thống xác nhận
    </p>
</div>